This Lab is based on the Text mining  and NLP Course

## Lab 1.  Data analysis with pandas

# Table of Contents
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Parsing and Completing the Dataframe  </li>
<li> Grouping </li>
</ol>

## Learning Goals

About 6000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

Explanation:

Step 1: Loading and Handling Missing Data


When we load the dataset, some information might be missing. These missing values are marked as NaN (Not a Number).
We'll first look at these missing values, and then decide if we should remove those rows or fill in the gaps with something else.

Step 2: Parsing Data Columns


Sometimes, the data we have can be split into more detailed parts. For example, if we have a column that combines an author's full name, we might split it into "First Name" and "Last Name."
This process is called parsing, and it helps us get more specific information from our data.

Step 3: Grouping and Aggregating Data


Grouping data means organizing it based on a shared feature. For example, we can group all books by the same author.
After grouping, we can summarize the data to answer questions like, "Which author has the most books on the list?" or "Which genre is most popular?"

### Basic EDA workflow


The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning.

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Cleaning: Reading in the data
We read in and clean the data from `goodreads.csv`.

In [3]:
#Read the data into a dataframe
df = pd.read_csv("goodreads.csv")

#Examine the first few rows of the dataframe
df.head()

   4.40   136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html    2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478.0  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564.0                            Twilight (Twilight, #1)
2  4.23  47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123.0                              To Kill a Mockingbird
3  4.23  34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992.0                                Pride and Prejudice
4  4.25  12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470.0                                 Gone with the Wind

Oh dear. That does not quite seem to be right. We are missing the column names. We need to add these in! But what are they?

Here is a list of them in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

<div class="exercise"><b>Exercise</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [4]:
# your code here
df.columns = ["rating", 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name']
df.head()

   rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir  rating_count                                               name
0    4.41       16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...
1    3.56       85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)
2    4.23       47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird
3    4.23       34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice
4    4.25       12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936.0  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html      645470.0                                 Gone with the Wind

### Cleaning: Examing the dataframe - quick checks

We should examine the dataframe to get a overall sense of the content.

<div class="exercise"><b>Exercise</b></div>
Lets check the types of the columns. What do you find?

In [5]:
# your code here
df.dtypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

*your answer here*

Answer: This will display the data type of each column - allowing you to determine what kind of data each column contains (integers, floats,
 strings).

There are a couple more quick sanity checks to perform on the dataframe.

In [6]:

print(df.shape)
df.columns

(5999, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [7]:
#Get a sense of how many missing values there are in the dataframe. Do it for all columns
np.sum([df.rating.isnull()])

2

In [8]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

      rating  review_count isbn booktype author_url  year genre_urls                              dir  rating_count name
3642     NaN           NaN  NaN      NaN        NaN   NaN        NaN  dir37/9658936-harry-potter.html           NaN  NaN
5281     NaN           NaN  NaN      NaN        NaN   NaN        NaN     dir53/113138.The_Winner.html           NaN  NaN

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [9]:
df[df.year.isnull()]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name
2441    4.23         526.0         NaN  good_reads:book  https://www.goodreads.com/author/show/623606.A...   NaN  /genres/religion|/genres/islam|/genres/non-fic...                       dir25/1301625.La_Tahzan.html        4134.0                                          La Tahzan
2868    4.61           2.0         NaN  good_reads:book  https://www.goodreads.com/author/show/8182217....   NaN                                                NaN  dir29/22031070-my-death-experiences---a-preach...          23.0  My Death Experiences - A Preacherâs 18 Apoca...
3642     NaN           NaN         NaN              NaN                                                NaN   NaN                                                NaN                    dir37/9658936-harry-potter.html           NaN                                                NaN
5281     NaN           NaN         NaN              NaN                                                NaN   NaN                                                NaN                       dir53/113138.The_Winner.html           NaN                                                NaN
5571    3.71          35.0  8423336603  good_reads:book  https://www.goodreads.com/author/show/285658.E...   NaN                                    /genres/fiction  dir56/890680._rase_una_vez_el_amor_pero_tuve_q...         403.0  Ãrase una vez el amor pero tuve que matarlo. ...
5657    4.32          44.0         NaN  good_reads:book  https://www.goodreads.com/author/show/25307.Ro...   NaN  /genres/fantasy|/genres/fantasy|/genres/epic-f...  dir57/5533041-assassin-s-apprentice-royal-assa...        3850.0  Assassin's Apprentice / Royal Assassin (Farsee...
5682    4.56         204.0         NaN  good_reads:book  https://www.goodreads.com/author/show/3097905....   NaN  /genres/fantasy|/genres/young-adult|/genres/ro...                  dir57/12474623-tiger-s-dream.html         895.0                 Tiger's Dream (The Tiger Saga, #5)

### Cleaning: Dealing with Missing Values
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [10]:
#Treat the missing or invalid values in your dataframe
#######

df = df[df.year.notnull()]

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [11]:
df.dtypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

In [12]:
print(np.sum(df.year.isnull()))
print(np.sum(df.rating_count.isnull()))
print(np.sum(df.review_count.isnull()))
# We removed seven rows
df.shape

0
0
0

(5992, 10)

*Suspect observations for rating and rating_count were removed as well! *

<div class="exercise"><b>Exercise</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [14]:
# your code here
df['rating'] = df['rating'].astype(int)
df['rating_count'] = df['rating_count'].astype(int)
df['review_count'] = df['review_count'].astype(int)

df.dtypes

rating            int64
review_count      int64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [15]:
df.dtypes

rating            int64
review_count      int64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

Sweet!

Some of the other colums that should be strings have NaN.

In [16]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [17]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/1077326.J_K_Rowling'

In [18]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'J_K_Rowling'

<div class="exercise"><b>Exercise</b></div>

Lets wrap the above code into a function which we will then use

In [23]:
# Write a function that accepts an author url and returns the author's name based on your experimentation above
def get_author(url):
    # your code here
    return url.split('/')[-1].split('.')[1]

In [24]:
#Apply the get_author function to the 'author_url' column using '.map'
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0          J_K_Rowling
1      Stephenie_Meyer
2           Harper_Lee
3          Jane_Austen
4    Margaret_Mitchell
Name: author, dtype: object

<div class="exercise"><b>Exercise</b></div>

Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [25]:

df.genre_urls.head()

0    /genres/fantasy|/genres/young-adult|/genres/fi...
1    /genres/young-adult|/genres/fantasy|/genres/ro...
2    /genres/classics|/genres/fiction|/genres/histo...
3    /genres/classics|/genres/fiction|/genres/roman...
4    /genres/classics|/genres/historical-fiction|/g...
Name: genre_urls, dtype: object

In [26]:
# your code here
def split_and_join_genres(url):
    genres = url.strip().split('|')
    genres = [g.split('/')[-1] for g in genres]
    return "|".join(genres)
#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

fantasy
young-adult
fiction
fantasy
magic
childrens
adventure
science-fiction-fantasy

<div class="exercise"><b>Exercise</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [27]:
def split_and_join_genres(url):
    # your code here
    genres = url.strip().split('|')

    genres = [g.split('/')[-1] for g in genres]

    return "|".join(genres)

Test your function

In [28]:
split_and_join_genres("/genres/young-adult|/genres/science-fiction")

'young-adult|science-fiction'

In [29]:
split_and_join_genres("")

''

<div class="exercise"><b>Exercise</b></div>

Use map again to create a new "genres" column

In [30]:

df['genres']=df.genre_urls.map(split_and_join_genres)
df.head()

   rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir  rating_count                                               name             author                                             genres
0       4         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...        J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
1       3         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)    Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
2       4         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird         Harper_Lee  classics|fiction|historical-fiction|academic|s...
3       4         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice        Jane_Austen  classics|fiction|romance|historical-fiction|li...
4       4         12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936.0  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html        645470                                 Gone with the Wind  Margaret_Mitchell  classics|historical-fiction|fiction|romance|li...

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [31]:
df[df.author == "Marguerite_Yourcenar"]

      rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                  dir  rating_count                name                author                                             genres
1013       4           483  0374529264  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1951.0  /genres/historical-fiction|/genres/fiction|/ge...  dir11/12172.Memoirs_of_Hadrian.html          6258  Memoirs of Hadrian  Marguerite_Yourcenar  historical-fiction|fiction|cultural|france|cla...
5619       4            74  2070367983  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1968.0  /genres/fiction|/genres/historical-fiction|/ge...     dir57/953435.L_uvre_au_noir.html          1601    L'Åuvre au noir  Marguerite_Yourcenar  fiction|historical-fiction|cultural|france|eur...

Let us delete the `genre_urls` column.

In [32]:
del df['genre_urls']

And then save the dataframe out!

In [34]:
df.to_csv("cleaned-goodreads.csv", index=False, header=True)

---

## Part 3: Grouping

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [35]:
# your code here
negative_years = df[df['year'] < 0]
negative_years

      rating  review_count        isbn         booktype                                         author_url    year                                                dir  rating_count                                  name        author                                             genres
46         3          5785  0143039954  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800.0                        dir01/1381.The_Odyssey.html        560248                           The Odyssey         Homer  classics|fiction|poetry|fantasy|mythology|acad...
245        4           365  0147712556  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800.0              dir03/1375.The_Iliad_The_Odyssey.html         35123                 The Iliad/The Odyssey         Homer  classics|fantasy|mythology|fantasy|academic|sc...
454        3          1499  0140449140  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -380.0                      dir05/30289.The_Republic.html         82022                          The Republic         Plato  philosophy|classics|non-fiction|politics|histo...
595        3          1240  0679729526  good_reads:book   https://www.goodreads.com/author/show/919.Virgil   -29.0                        dir06/12914.The_Aeneid.html         60308                            The Aeneid        Virgil  classics|poetry|fiction|fantasy|mythology|acad...
628        3          1231  1580495931  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -429.0                        dir07/1554.Oedipus_Rex.html         93192                           Oedipus Rex     Sophocles  classics|plays|drama|fiction|academic|school|l...
673        3          3559  1590302257  good_reads:book  https://www.goodreads.com/author/show/1771.Sun...  -512.0                    dir07/10534.The_Art_of_War.html        114619                        The Art of War       Sun_Tzu  non-fiction|politics|classics|literature|psych...
745        4          1087  0140449183  good_reads:book  https://www.goodreads.com/author/show/5158478....  -500.0                 dir08/99944.The_Bhagavad_Gita.html         31634                     The Bhagavad Gita     Anonymous  classics|spirituality|religion|hinduism|fantas...
776        3          1038  1580493882  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -442.0                           dir08/7728.Antigone.html         49084                              Antigone     Sophocles  drama|fiction|classics|academic|read-for-schoo...
1232       3           704  015602764X  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -400.0                  dir13/1540.The_Oedipus_Cycle.html         36008                     The Oedipus Cycle     Sophocles  classics|plays|drama|fiction|literature|academ...
1396       4           890  0192840509  good_reads:book  https://www.goodreads.com/author/show/12452.Aesop  -560.0                    dir14/21348.Aesop_s_Fables.html         71259                        Aesop's Fables         Aesop  classics|childrens|literature|fantasy|fairy-ta...
1397       3          1644  0141026286  good_reads:book  https://www.goodreads.com/author/show/5158478.... -1500.0             dir14/19351.The_Epic_of_Gilgamesh.html         42026                 The Epic of Gilgamesh     Anonymous  religion|literature|ancient|academic|read-for-...
1427       3           539  0486275485  good_reads:book  https://www.goodreads.com/author/show/973.Euri...  -431.0                            dir15/752900.Medea.html         29858                                 Medea     Euripides  classics|plays|drama|fiction|fantasy|mythology...
1814       3           493  0140443339  good_reads:book  https://www.goodreads.com/author/show/990.Aesc...  -458.0                       dir19/1519.The_Oresteia.html         18729                          The Oresteia     Aeschylus  classics|plays|drama|fiction|fantasy|mythology...
1881       4           377  0872205541  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400.0   dir19/22632.The_Trial_and_Death_of_Socrates.html         18712       The Trial and Death of Socrates         Plato  philosophy|classics|non-fiction|history|litera...
2077       3           399  0140440399  good_reads:book  https://www.goodreads.com/author/show/957.Thuc...  -411.0  dir21/261243.The_History_of_the_Peloponnesian_...         17212  The History of the Peloponnesian War    Thucydides  history|classics|non-fiction|war|war|military|...
2526       3           506  0140449086  good_reads:book  https://www.goodreads.com/author/show/901.Hero...  -440.0                      dir26/1362.The_Histories.html         20570                         The Histories     Herodotus  history|classics|non-fiction|cultural|greece|l...
3132       4           131  0872203492  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400.0                     dir32/9462.Complete_Works.html          7454                        Complete Works         Plato  philosophy|classics|non-fiction|history|litera...
3273       3           411  0140449493  good_reads:book  https://www.goodreads.com/author/show/2192.Ari...  -350.0            dir33/19068.The_Nicomachean_Ethics.html         16534                The Nicomachean Ethics     Aristotle  philosophy|classics|non-fiction|politics|acade...
3756       3           364  0872206033  good_reads:book  https://www.goodreads.com/author/show/1011.Ari...  -411.0                         dir38/1591.Lysistrata.html         18070                            Lysistrata  Aristophanes  plays|classics|drama|fiction|plays|theatre|hum...
4401       3           516  0140449272  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -370.0                     dir45/81779.The_Symposium.html         18457                         The Symposium         Plato  non-fiction|classics|philosophy|academic|schoo...
4474       4           281  0865163480  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -390.0                           dir45/73945.Apology.html         11478                               Apology         Plato  philosophy|classics|non-fiction|history|academ...
5366       4           133  0872206335  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -360.0                    dir54/30292.Five_Dialogues.html          9964                        Five Dialogues         Plato  philosophy|classics|non-fiction|academic|schoo...

We can determine the "best book" by year! For this we use Pandas groupby. Groupby allows grouping a dataframe by any (usually categorical) variable.

In [36]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

Perhaps we want the number of books each author wrote

In [37]:
dfgb_author.count()

                       rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  genres
author
A_A_Milne                   6             6     6         6           6     6    6             6     6       6
A_G_Howard                  1             1     1         1           1     1    1             1     1       1
A_J_Cronin                  1             1     1         1           1     1    1             1     1       1
A_J_Jacobs                  1             1     1         1           1     1    1             1     1       1
A_J_Salt                    1             1     1         1           1     1    1             1     1       1
...                       ...           ...   ...       ...         ...   ...  ...           ...   ...     ...
_                          42            42    42        42          42    42   42            42    42      42
_gota_Krist_f               1             1     1         1           1     1    1             1     1       1
_mile_Zola                  4             4     4         4           4     4    4             4     4       4
_ric_Emmanuel_Schmitt       1             1     1         1           1     1    1             1     1       1
_sne_Seierstad              1             1     1         1           1     1    1             1     1       1

[2645 rows x 10 columns]

Lots of useless info there. One column should suffice

In [38]:
dfgb_author['author'].count()

author
A_A_Milne                 6
A_G_Howard                1
A_J_Cronin                1
A_J_Jacobs                1
A_J_Salt                  1
                         ..
_                        42
_gota_Krist_f             1
_mile_Zola                4
_ric_Emmanuel_Schmitt     1
_sne_Seierstad            1
Name: author, Length: 2645, dtype: int64

Perhaps you want more detailed info...

In [39]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

                      rating                                              rating_count                                                                             review_count                                                                      year
                       count      mean      std  min   25%  50%  75%  max        count          mean           std      min       25%      50%       75%       max        count         mean          std     min      25%     50%      75%     max count         mean         std     min      25%     50%      75%     max
author
A_A_Milne                6.0  4.000000  0.00000  4.0  4.00  4.0  4.0  4.0          6.0  47842.333333  57135.314010    544.0  15559.50  30547.0  50401.25  157833.0          6.0   543.000000   682.473150     1.0   219.50   309.5   499.25  1886.0   6.0  1944.166667   29.294482  1926.0  1926.25  1927.5  1952.75  1997.0
A_G_Howard               1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0  17073.000000           NaN  17073.0  17073.00  17073.0  17073.00   17073.0          1.0  3194.000000          NaN  3194.0  3194.00  3194.0  3194.00  3194.0   1.0  2013.000000         NaN  2013.0  2013.00  2013.0  2013.00  2013.0
A_J_Cronin               1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0   1015.000000           NaN   1015.0   1015.00   1015.0   1015.00    1015.0          1.0   109.000000          NaN   109.0   109.00   109.0   109.00   109.0   1.0  1941.000000         NaN  1941.0  1941.00  1941.0  1941.00  1941.0
A_J_Jacobs               1.0  3.000000      NaN  3.0  3.00  3.0  3.0  3.0          1.0  39489.000000           NaN  39489.0  39489.00  39489.0  39489.00   39489.0          1.0  4371.000000          NaN  4371.0  4371.00  4371.0  4371.00  4371.0   1.0  2007.000000         NaN  2007.0  2007.00  2007.0  2007.00  2007.0
A_J_Salt                 1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0     16.000000           NaN     16.0     16.00     16.0     16.00      16.0          1.0     6.000000          NaN     6.0     6.00     6.0     6.00     6.0   1.0  2014.000000         NaN  2014.0  2014.00  2014.0  2014.00  2014.0
...                      ...       ...      ...  ...   ...  ...  ...  ...          ...           ...           ...      ...       ...      ...       ...       ...          ...          ...          ...     ...      ...     ...      ...     ...   ...          ...         ...     ...      ...     ...      ...     ...
_                       42.0  3.571429  0.50087  3.0  3.00  4.0  4.0  4.0         42.0  11574.642857   9368.218450     10.0   4724.00   8709.5  15572.75   39302.0         42.0  1437.214286  1216.421371     1.0   534.75  1020.5  1745.75  4785.0  42.0  1998.904762   18.721071  1941.0  1994.75  2007.0  2010.75  2014.0
_gota_Krist_f            1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0   2628.000000           NaN   2628.0   2628.00   2628.0   2628.00    2628.0          1.0   243.000000          NaN   243.0   243.00   243.0   243.00   243.0   1.0  1986.000000         NaN  1986.0  1986.00  1986.0  1986.00  1986.0
_mile_Zola               4.0  3.750000  0.50000  3.0  3.75  4.0  4.0  4.0          4.0   8358.250000   4553.226942   3594.0   5181.75   8095.0  11271.50   13649.0          4.0   283.750000   171.069917   125.0   189.50   243.5   337.75   523.0   4.0  1652.500000  456.345264   968.0  1649.75  1878.5  1881.25  1885.0
_ric_Emmanuel_Schmitt    1.0  4.000000      NaN  4.0  4.00  4.0  4.0  4.0          1.0   6439.000000           NaN   6439.0   6439.00   6439.0   6439.00    6439.0          1.0   424.000000          NaN   424.0   424.00   424.0   424.00   424.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0
_sne_Seierstad           1.0  3.000000      NaN  3.0  3.00  3.0  3.0  3.0          1.0  24993.000000           NaN  24993.0  24993.00  24993.0  24993.00   24993.0          1.0  2088.000000          NaN  2088.0  2088.00  2088.0  2088.00  2088.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0

[2645 rows x 32 columns]

You can also access a `groupby` dictionary style.

In [40]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

{'A_A_Milne': (4.0, 0.0),
 'A_G_Howard': (4.0, nan),
 'A_J_Cronin': (4.0, nan),
 'A_J_Jacobs': (3.0, nan),
 'A_J_Salt': (4.0, nan),
 'A_Meredith_Walters': (4.0, 0.0),
 'A_N_Roquelaure': (3.0, 0.0),
 'A_S_Byatt': (3.0, nan),
 'A_S_King': (3.0, nan),
 'A_id_al_Qarni': (3.5, 0.7071067811865476),
 'Abbi_Glines': (3.857142857142857, 0.3631365196012815),
 'Abdul_Rahman_Munif': (4.0, nan),
 'Abigail_Gibbs': (3.0, nan),
 'Abigail_Roux': (4.0, 0.0),
 'Abigail_Thomas': (3.0, nan),
 'Abolqasem_Ferdowsi': (4.0, nan),
 'Abraham_Verghese': (4.0, nan),
 'Abul_Hasan_Ali_Nadwi': (4.0, nan),
 'Adam_Hochschild': (4.0, nan),
 'Adam_Johnson': (4.0, nan),
 'Adam_Levin': (4.0, nan),
 'Adam_Rex': (4.0, nan),
 'Adam_Smith': (3.0, nan),
 'Addison_Moore': (3.0, nan),
 'Adeline_Yen_Mah': (4.0, nan),
 'Adolf_Hitler': (2.0, nan),
 'Adolfo_Bioy_Casares': (4.0, nan),
 'Aeschylus': (3.0, nan),
 'Aesop': (4.0, nan),
 'Agatha_Christie': (3.3636363636363638, 0.504524979109513),
 'Ahlam_Mosteghanemi': (3.0, nan),
 'Ahmad_Baari': (4.0, nan),
 'Ahmad_Fuadi': (4.0, nan),
 'Ai_Yazawa': (4.0, nan),
 'Aidan_Chambers': (4.0, nan),
 'Aimee_Carter': (3.3333333333333335, 0.5773502691896258),
 'Aimee_Friedman': (3.0, nan),
 'Alain_Fournier': (3.0, nan),
 'Alan_Bradley': (3.0, nan),
 'Alan_Brennert': (4.0, nan),
 'Alan_Campbell': (3.0, nan),
 'Alan_Hollinghurst': (3.0, nan),
 'Alan_Lightman': (4.0, nan),
 'Alan_Moore': (3.8, 0.4472135954999579),
 'Alan_Paton': (3.0, nan),
 'Alan_Wilson_Watts': (4.0, nan),
 'Alastair_Reynolds': (4.0, nan),
 'Albert_Camus': (3.6, 0.5477225575051661),
 'Albert_Einstein': (4.0, nan),
 'Albert_Espinosa': (3.0, nan),
 'Alcoholics_Anonymous': (4.0, nan),
 'Aldo_Leopold': (4.0, nan),
 'Aldous_Huxley': (3.2, 0.44721359549995787),
 'Aleatha_Romig': (4.0, 0.0),
 'Alecia_Stone': (3.5, 0.7071067811865476),
 'Aleksandr_Solzhenitsyn': (3.6666666666666665, 0.5773502691896258),
 'Alessandro_Baricco': (3.6666666666666665, 0.5773502691896258),
 'Alessandro_Manzoni': (3.0, nan),
 'Alex_Flinn': (3.0, 0.0),
 'Alex_Garland': (3.0, 0.0),
 'Alex_Haley': (4.0, nan),
 'Alex_Harris': (4.0, nan),
 'Alex_Kotlowitz': (4.0, nan),
 'Alex_Sanchez': (3.0, 0.0),
 'Alexander_Gordon_Smith': (4.0, nan),
 'Alexander_Jovy': (4.0, nan),
 'Alexander_McCall_Smith': (3.0, nan),
 'Alexander_Pushkin': (4.0, nan),
 'Alexandra_Adornetto': (3.0, 0.0),
 'Alexandra_Bracken': (3.6666666666666665, 0.5773502691896258),
 'Alexandra_Fuller': (3.0, nan),
 'Alexandra_Ivy': (3.5, 0.7071067811865476),
 'Alexandra_Monir': (3.0, nan),
 'Alexandra_Potter': (3.0, nan),
 'Alexandra_Ripley': (3.0, nan),
 'Alexandre_Dumas': (4.0, 0.0),
 'Alexandre_Dumas_fils': (3.0, nan),
 'Alexei_Maxim_Russell': (3.6666666666666665, 0.5773502691896258),
 'Alexis_de_Tocqueville': (3.0, nan),
 'Alfred_Bester': (4.0, 0.0),
 'Alfred_Lansing': (4.0, nan),
 'Alfred_Tennyson': (4.0, nan),
 'Ali_Marsman': (4.0, nan),
 'Ali_Smith': (3.0, nan),
 'Alice_Clayton': (4.0, nan),
 'Alice_Hoffman': (3.0, 0.0),
 'Alice_Kuipers': (3.0, nan),
 'Alice_Schroeder': (4.0, nan),
 'Alice_Sebold': (3.0, 0.0),
 'Alice_Walker': (4.0, 0.0),
 'Alija_Izetbegovi_': (4.0, nan),
 'Alison_Bechdel': (4.0, nan),
 'Alison_Croggon': (3.75, 0.5),
 'Alison_Goodman': (4.0, 0.0),
 'Alison_Weir': (3.3333333333333335, 0.5773502691896258),
 'Alistair_MacLeod': (3.0, nan),
 'Allan_Frewin_Jones': (3.5, 0.7071067811865476),
 'Allan_Gurganus': (3.0, nan),
 'Allan_Pease': (3.0, nan),
 'Allegra_Goodman': (3.0, nan),
 'Allen_Ginsberg': (4.0, nan),
 'Ally_Carter': (3.7777777777777777, 0.4409585518440984),
 'Ally_Condie': (3.0, 0.0),
 'Ally_Shields': (3.0, nan),
 'Allyse_Near': (4.0, nan),
 'Alma_Katsu': (3.0, nan),
 'Alyson_Noel': (3.1, 0.31622776601683794),
 'Alyxandra_Harvey': (3.6666666666666665, 0.5773502691896258),
 'Am_lie_Nothomb': (3.0, 0.0),
 'Amanda_E_Alvarez': (3.0, nan),
 'Amanda_Hocking': (3.625, 0.5175491695067657),
 'Amber_Argyle': (3.0, nan),
 'Amber_Lea_Easton': (4.0, nan),
 'Ambrose_Bierce': (4.0, nan),
 'Amelia_Atwater_Rhodes': (3.8333333333333335, 0.40824829046386296),
 'Amelia_Hutchins': (4.0, 0.0),
 'Ami_McKay': (3.0, nan),
 'Amin_Maalouf': (4.0, nan),
 'Amish_Tripathi': (3.0, 0.0),
 'Amitav_Ghosh': (3.0, nan),
 'Amor_Towles': (3.0, nan),
 'Amy_A_Bartol': (4.0, 0.0),
 'Amy_Efaw': (3.0, nan),
 'Amy_Harmon': (4.0, 0.0),
 'Amy_Hempel': (4.0, nan),
 'Amy_Plum': (4.0, 0.0),
 'Amy_Tan': (3.0, 0.0),
 'Anastacia_Moore': (4.0, nan),
 'Anchee_Min': (3.0, nan),
 'Andr_Aciman': (4.0, nan),
 'Andr_Gide': (3.0, nan),
 'Andre_Agassi': (4.0, nan),
 'Andre_Dubus_III': (3.0, nan),
 'Andrea_Cremer': (4.0, 0.0),
 'Andrea_Hirata': (3.75, 0.5),
 'Andrea_Levy': (3.0, nan),
 'Andrew_Clements': (3.0, 0.0),
 'Andrew_Davidson': (3.0, nan),
 'Andrew_Klavan': (3.5, 0.7071067811865476),
 'Andrew_Smith': (4.0, nan),
 'Andrzej_Sapkowski': (4.0, 0.0),
 'Andy_Szpuk': (4.0, nan),
 'Andy_Weir': (4.0, nan),
 'Angel_Sefer': (4.0, nan),
 'Angela_Carter': (3.5, 0.7071067811865476),
 'Angela_Morrison': (4.0, nan),
 'Angelo_Tsanatelis': (4.0, 0.0),
 'Angie_Martin': (4.0, 0.0),
 'Angie_Sage': (3.0, 0.0),
 'Anita_Diamant': (4.0, nan),
 'Anita_Shreve': (3.0, nan),
 'Ann_Aguirre': (3.5, 0.7071067811865476),
 'Ann_Brashares': (3.0, 0.0),
 'Ann_Fairbairn': (4.0, nan),
 'Ann_M_Martin': (4.0, nan),
 'Ann_Marie_MacDonald': (3.0, nan),
 'Ann_Patchett': (3.0, 0.0),
 'Ann_Rule': (3.6, 0.5477225575051661),
 'Anna_Banks': (4.0, 0.0),
 'Anna_Carey': (3.0, 0.0),
 'Anna_Gavalda': (4.0, nan),
 'Anna_Godbersen': (3.0, 0.0),
 'Anna_Lee_Waldo': (4.0, nan),
 'Anna_Quindlen': (3.0, nan),
 'Anna_Sewell': (3.0, nan),
 'Anne_Bishop': (3.9, 0.31622776601683794),
 'Anne_Bront_': (3.0, 0.0),
 'Anne_Carson': (4.0, nan),
 'Anne_Elisabeth_Stengl': (3.6666666666666665, 0.5773502691896258),
 'Anne_Fadiman': (4.0, nan),
 'Anne_Fortier': (3.0, nan),
 'Anne_Frank': (4.0, nan),
 'Anne_Lamott': (4.0, 0.0),
 'Anne_McCaffrey': (3.769230769230769, 0.4385290096535146),
 'Anne_Michaels': (3.0, nan),
 'Anne_Morrow_Lindbergh': (4.0, nan),
 'Anne_Rice': (3.1578947368421053, 0.3746343246326776),
 'Anne_Tyler': (3.1666666666666665, 0.40824829046386296),
 'Annemarie_Selinko': (3.0, nan),
 'Annette_Curtis_Klause': (3.0, 0.0),
 'Annie_Dillard': (3.5, 0.7071067811865476),
 'Annie_Proulx': (3.0, 0.0),
 'Anonymous': (3.823529411764706, 0.39295262399668784),
 'Anthony_Bourdain': (3.0, nan),
 'Anthony_Burgess': (3.5, 0.7071067811865476),
 'Anthony_Doerr': (4.0, nan),
 'Anthony_Hope': (3.0, nan),
 'Anthony_Horowitz': (3.727272727272727, 0.46709936649691375),
 'Anthony_Kiedis': (4.0, nan),
 'Anthony_Marra': (4.0, nan),
 'Anthony_Ryan': (4.0, nan),
 'Anthony_Swofford': (3.0, nan),
 'Anthony_Trollope': (3.5, 0.7071067811865476),
 'Antoine_de_Saint_Exup_ry': (4.0, 0.0),
 'Anton_Chekhov': (3.6666666666666665, 0.5773502691896258),
 'Antonia_Fraser': (3.0, nan),
 'Antonia_Michaelis': (4.0, nan),
 'Antony_Beevor': (4.0, nan),
 'Anya_Seton': (4.0, nan),
 'Aporva_Kala': (4.0, 0.0),
 'April_Henry': (3.0, nan),
 'Aprilynne_Pike': (3.5, 0.5773502691896257),
 'Aravind_Adiga': (3.0, nan),
 'Ariana_Franklin': (3.0, nan),
 'Aristophanes': (3.0, nan),
 'Aristotle': (3.0, nan),
 'Arkady_Strugatsky': (4.0, 0.0),
 'Armando_Cosani': (4.0, nan),
 'Armistead_Maupin': (4.0, nan),
 'Art_Spiegelman': (4.0, 0.0),
 'Arthur_C_Clarke': (3.8, 0.4472135954999579),
 'Arthur_Conan_Doyle': (3.769230769230769, 0.4385290096535146),
 'Arthur_Golden': (4.0, nan),
 'Arthur_Koestler': (4.0, nan),
 'Arthur_Miller': (3.0, 0.0),
 'Arthur_Ransome': (3.0, nan),
 'Arthur_Rimbaud': (4.0, 0.0),
 'Arthur_Schnitzler': (3.0, nan),
 'Arturo_P_rez_Reverte': (3.0, 0.0),
 'Arun_Tiwari': (4.0, nan),
 'Arundhati_Roy': (3.0, nan),
 'Asa_Don_Brown': (4.0, nan),
 'Ashley_Chappell': (4.0, 0.0),
 'Ashley_Waelti': (4.0, nan),
 'Astrid_Lindgren': (4.0, 0.0),
 'Audrey_Niffenegger': (3.0, 0.0),
 'Augusten_Burroughs': (3.0, 0.0),
 'Augustine_of_Hippo': (3.0, nan),
 'Aurora_Rose_Reynolds': (4.0, nan),
 'Austin_Kleon': (3.0, nan),
 'Author_Neva_Squires_Rodriguez': (4.0, nan),
 'Autumn_Cornwell': (3.0, nan),
 'Avery_Aster': (3.25, 0.5),
 'Avi': (3.0, nan),
 'Ayaan_Hirsi_Ali': (4.0, nan),
 'Ayn_Rand': (3.2, 0.4472135954999579),
 'Azar_Nafisi': (3.0, nan),
 'B_Kristin_McMichael': (3.3333333333333335, 0.5773502691896258),
 'Banana_Yoshimoto': (3.0, nan),
 'Barack_Obama': (3.0, nan),
 'Barbara_Demick': (4.0, nan),
 'Barbara_Ehrenreich': (3.0, nan),
 'Barbara_Erskine': (4.0, nan),
 'Barbara_Kingsolver': (3.3333333333333335, 0.5163977794943222),
 'Barbara_Taylor_Bradford': (4.0, nan),
 'Barbara_W_Tuchman': (4.0, 0.0),
 'Barry_Jordan_Jr_': (4.0, nan),
 'Barry_Lyga': (3.0, nan),
 'Barry_Unsworth': (4.0, nan),
 'Beatrice_Sparks': (3.0, nan),
 'Beatrix_Potter': (4.0, 0.0),
 'Becca_Fitzpatrick': (4.0, 0.0),
 'Belle_Aurora': (4.0, 0.0),
 'Belsebuub': (4.0, nan),
 'Belzebuub': (4.0, 0.0),
 'Ben_Goldacre': (4.0, nan),
 'Ben_Peller': (4.0, 0.0),
 'Ben_Sherwood': (3.0, nan),
 'Benedict_Freedman': (4.0, nan),
 'Benjamin_Alire_S_enz': (4.0, nan),
 'Benjamin_Franklin': (3.0, nan),
 'Benjamin_Graham': (4.0, nan),
 'Benjamin_Hoff': (4.0, 0.0),
 'Bernadette_Azizi': (4.0, nan),
 'Bernard_Cornwell': (3.888888888888889, 0.33333333333333337),
 'Bernard_Malamud': (3.0, 0.0),
 'Bernhard_Schlink': (3.0, nan),
 'Bertolt_Brecht': (3.0, nan),
 'Bertrand_Russell': (4.0, nan),
 'Beryl_Markham': (4.0, nan),
 'Bess_Streeter_Aldrich': (4.0, nan),
 'Beth_Fantaskey': (3.0, nan),
 'Beth_Hoffman': (3.0, nan),
 'Beth_Revis': (3.5, 0.7071067811865476),
 'Bethany_Hamilton': (4.0, nan),
 'Bette_Greene': (3.0, nan),
 'Betty_Edwards': (3.0, nan),
 'Betty_Friedan': (3.0, nan),
 'Betty_MacDonald': (4.0, nan),
 'Betty_Mahmoody': (3.0, nan),
 'Betty_Smith': (4.0, nan),
 'Bev_Stout': (4.0, nan),
 'Bill_Bryson': (3.3333333333333335, 0.5),
 'Bill_Courtney': (4.0, nan),
 'Bill_Konigsberg': (4.0, nan),
 'Bill_Martin_Jr_': (4.0, nan),
 'Bill_Watterson': (4.0, 0.0),
 'Billie_Letts': (3.0, nan),
 'Bisco_Hatori': (4.0, nan),
 'Blue_Jeans': (4.0, nan),
 'Bo_Hampton': (3.0, nan),
 'Bob_Atkinson': (4.0, nan),
 'Bob_Dylan': (3.0, nan),
 'Bodie_Thoene': (4.0, 0.0),
 'Bohumil_Hrabal': (4.0, 0.0),
 'Boris_Pasternak': (4.0, nan),
 'Boris_Vian': (4.0, 0.0),
 'Brae_Wyckoff': (3.0, nan),
 'Bram_Stoker': (3.0, nan),
 'Brandon_Mull': (4.0, 0.0),
 'Brandon_Sanderson': (3.909090909090909, 0.30151134457776363),
 'Bree_Despain': (3.5, 0.7071067811865476),
 'Brenna_Yovanoff': (3.0, nan),
 'Brent_Weeks': (4.0, 0.0),
 'Bret_Easton_Ellis': (3.0, 0.0),
 'Brett_Axel': (4.0, nan),
 'Brian_Celio': (4.0, nan),
 'Brian_Greene': (4.0, nan),
 'Brian_Jacques': (3.5, 0.5188745216627708),
 'Brian_K_Vaughan': (4.0, nan),
 'Brian_Katcher': (3.0, nan),
 'Brian_L_Weiss': (4.0, nan),
 'Brian_Lumley': (3.0, nan),
 'Brian_Patrick_McKinley': (4.0, nan),
 'Brian_Selznick': (4.0, 0.0),
 'Brigid_Kemmerer': (4.0, 0.0),
 'Brodi_Ashton': (3.0, nan),
 'Brom': (4.0, nan),
 'Brother_Andrew': (4.0, nan),
 'Brother_Lawrence': (4.0, nan),
 'Bruce_Campbell': (4.0, nan),
 'Bruno_Schulz': (4.0, nan),
 'Bryan_Davis': (4.0, nan),
 'Bryan_Lee_O_Malley': (4.0, 0.0),
 'Bryce_Courtenay': (3.75, 0.5),
 'CLAMP': (4.0, nan),
 'C_C_Humphreys': (3.0, nan),
 'C_C_Hunter': (4.0, 0.0),
 'C_D_Payne': (4.0, nan),
 'C_E_Kilgore': (3.0, nan),
 'C_G_Jung': (4.0, nan),
 'C_J_Box': (3.0, nan),
 'C_J_Daugherty': (4.0, 0.0),
 'C_J_Redwine': (3.0, nan),
 'C_J_Roberts': (4.0, 0.0),
 'C_J_Sansom': (4.0, nan),
 'C_L_Stone': (4.0, 0.0),
 'C_L_Wilson': (4.0, 0.0),
 'C_S_Lewis': (3.611111111111111, 0.5016313257045502),
 'Caleb_Carr': (4.0, nan),
 'Candace_Bushnell': (3.0, nan),
 'Candice_Millard': (4.0, nan),
 'Cao_Xueqin': (4.0, nan),
 'Cara_Lynn_Shultz': (3.0, nan),
 'Caragh_M_O_Brien': (3.0, nan),
 'Carl_Hiaasen': (3.0, 0.0),
 'Carl_Sagan': (4.0, 0.0),
 'Carla_Capshaw': (4.0, 0.0),
 'Carlo_Collodi': (3.0, nan),
 'Carlos_Castaneda': (3.0, nan),
 'Carlos_Rivera': (4.0, nan),
 'Carlos_Ruiz_Zaf_n': (3.25, 0.5),
 'Carol_E_Wyer': (4.0, nan),
 'Carol_Plum_Ucci': (4.0, nan),
 'Carol_Rifka_Brunt': (4.0, nan),
 'Carol_Shields': (3.0, nan),
 'Carole_Wilkinson': (3.0, nan),
 'Carolina_Andujar': (4.0, nan),
 'Caroline_B_Cooney': (3.0, nan),
 'Carolyn_Jessop': (3.0, nan),
 'Carolyn_Keene': (3.0, 0.0),
 'Carolyn_Turgeon': (3.0, nan),
 'Carrie_Jones': (3.3333333333333335, 0.5773502691896258),
 'Carrie_Ryan': (3.3333333333333335, 0.5773502691896258),
 'Carrie_Vaughn': (3.0, nan),
 'Carson_McCullers': (3.3333333333333335, 0.5773502691896258),
 'Cassandra_Clare': (4.0, 0.0),
 'Cat_Clarke': (3.0, 0.0),
 'Cat_Patrick': (3.0, 0.0),
 'Cate_Tiernan': (4.0, 0.0),
 'Cath_Crowley': (3.0, nan),
 'Catherine_Anderson': (4.0, 0.0),
 'Catherine_Fisher': (3.0, 0.0),
 'Catherine_Gilbert_Murdock': (3.0, nan),
 'Catherine_Hardwicke': (4.0, nan),
 'Catherine_Jinks': (3.0, nan),
 'Catherine_Marshall': (4.0, nan),
 'Catherynne_M_Valente': (3.6666666666666665, 0.5773502691896258),
 'Cecelia_Ahern': (3.0, 0.0),
 'Cecily_von_Ziegesar': (3.0, 0.0),
 'Celia_Rees': (3.0, nan),
 'Celso_Cukierkorn': (4.0, nan),
 'Chad_Harbach': (3.0, nan),
 'Chaim_Potok': (3.75, 0.5),
 'Chanda_Hahn': (3.5, 0.7071067811865476),
 'Charlaine_Harris': (3.5625, 0.51234753829798),
 'Charles_Baudelaire': (4.0, 0.0),
 'Charles_Bukowski': (3.5, 0.5477225575051661),
 'Charles_C_Mann': (4.0, nan),
 'Charles_Darwin': (3.0, nan),
 'Charles_Dickens': (3.2, 0.4140393356054125),
 'Charles_Frazier': (3.0, 0.0),
 'Charles_H_Spurgeon': (4.0, nan),
 'Charles_M_Sheldon': (4.0, nan),
 'Charles_Palliser': (4.0, nan),
 'Charles_Portis': (4.0, nan),
 'Charles_de_Lint': (4.0, nan),
 'Charlie_Higson': (4.0, nan),
 'Charlotte_Bront_': (3.3333333333333335, 0.5773502691896258),
 'Charlotte_Perkins_Gilman': (3.0, nan),
 'Chelsea_Bellingeri': (4.0, 0.0),
 'Chelsea_Fine': (3.0, nan),
 'Chelsea_Handler': (3.0, 0.0),
 'Chelsea_M_Cameron': (4.0, nan),
 'Cherie_Currie': (3.0, nan),
 'Cherie_Priest': (3.0, nan),
 'Cheryl_McIntyre': (4.0, nan),
 'Cheryl_Strayed': (3.0, nan),
 'Chetan_Bhagat': (3.0, 0.0),
 'Chevy_Stevens': (3.0, nan),
 'Chimamanda_Ngozi_Adichie': (4.0, nan),
 'China_Mi_ville': (3.25, 0.5),
 'Chinua_Achebe': (3.0, nan),
 'Chitra_Banerjee_Divakaruni': (3.5, 0.7071067811865476),
 'Chloe_Neill': (4.0, 0.0),
 'Chris_Bohjalian': (3.0, 0.0),
 'Chris_Cleave': (3.0, nan),
 'Chris_Colfer': (3.6666666666666665, 0.5773502691896258),
 'Chris_Crutcher': (3.0, 0.0),
 'Chris_Kyle': (3.0, nan),
 'Chris_Lange': (4.0, nan),
 'Chris_Thrall': (3.0, nan),
 'Chris_Titus': (3.0, nan),
 'Chris_Van_Allsburg': (4.0, nan),
 'Chris_Ware': (4.0, nan),
 'Chris_Wooding': (3.6666666666666665, 0.5773502691896258),
 'Chris_d_Lacey': (3.2, 0.4472135954999579),
 'Christina_Baker_Kline': (4.0, nan),
 'Christina_Dodd': (4.0, nan),
 'Christina_Lauren': (4.0, 0.0),
 'Christina_Mercer': (4.0, nan),
 'Christina_Schwarz': (3.0, nan),
 'Christine_Feehan': (3.8, 0.4472135954999579),
 'Christine_M_Knight': (4.0, 0.0),
 'Christine_Sparks': (3.0, nan),
 'Christine_Zolendz': (4.0, 0.0),
 'Christopher_Barzak': (4.0, nan),
 'Christopher_Hitchens': (3.0, nan),
 'Christopher_Marlowe': (3.0, nan),
 'Christopher_McDougall': (4.0, nan),
 'Christopher_Moore': (3.25, 0.4629100498862757),
 'Christopher_Paolini': (3.5714285714285716, 0.5345224838248487),
 'Christopher_Paul_Curtis': (3.0, nan),
 'Christopher_Pike': (3.8333333333333335, 0.40824829046386296),
 'Christopher_Rice': (3.0, nan),
 'Christopher_Shields': (4.0, 0.0),
 'Chuck_Dixon': (4.0, nan),
 'Chuck_Klosterman': (3.0, 0.0),
 'Chuck_Palahniuk': (3.125, 0.3535533905932738),
 'Cinda_Williams_Chima': (3.857142857142857, 0.37796447300922725),
 'Cindy_C_Bennett': (4.0, nan),
 'Cindy_Springsteen': (4.0, nan),
 'Claire_LaZebnik': (3.0, nan),
 'Clare_B_Dunkle': (4.0, nan),
 'Clare_Vanderpool': (4.0, nan),
 'Clarice_Lispector': (3.0, nan),
 'Clarissa_Pinkola_Est_s': (4.0, nan),
 'Claude_Brown': (4.0, nan),
 'Claudia_Gray': (3.0, 0.0),
 'Clay_Griffith': (3.0, nan),
 'Clement_C_Moore': (4.0, nan),
 'Clive_Barker': (4.0, 0.0),
 'Clive_Cussler': (3.0, 0.0),
 'Colleen_Hoover': (4.0, 0.0),
 'Colleen_Houck': (4.0, 0.0),
 'Colleen_McCullough': (4.0, 0.0),
 'Collette_Sinclaire': (4.0, 0.0),
 'Colum_McCann': (3.0, 0.0),
 'Conn_Iggulden': (4.0, 0.0),
 'Connie_May_Fowler': (3.0, nan),
 'Connie_Willis': (3.6666666666666665, 0.5773502691896258),
 'Conor_Grennan': (4.0, nan),
 'Cora_Carmack': (3.5, 0.7071067811865476),
 'Cormac_McCarthy': (3.6666666666666665, 0.5),
 'Cornelia_Funke': (3.1666666666666665, 0.408248290463863),
 'Cornelius_Ryan': (4.0, nan),
 'Corrie_ten_Boom': (4.0, nan),
 'Cory_Doctorow': (3.0, nan),
 'Courtney_Allison_Moulton': (3.5, 0.7071067811865476),
 'Courtney_Summers': (3.0, 0.0),
 'Craig_Clevenger': (4.0, nan),
 'Craig_Silvey': (4.0, nan),
 'Craig_Thompson': (4.0, 0.0),
 'Cristiane_Serruya': (3.6666666666666665, 0.5773502691896258),
 'Crockett_Johnson': (4.0, nan),
 'Cupcake_Brown': (4.0, nan),
 'Curtis_Sittenfeld': (3.0, nan),
 'Cynthia_Collins': (4.0, nan),
 'Cynthia_Hand': (4.0, 0.0),
 'Cynthia_Kadohata': (3.0, nan),
 'Cynthia_Lord': (3.0, nan),
 'Cynthia_Voigt': (3.0, 0.0),
 'D_B_C_Pierre': (3.0, nan),
 'D_B_Shan': (3.0, nan),
 'D_C_Talk': (4.0, nan),
 'D_H_Lawrence': (3.0, 0.0),
 'D_J_MacHale': (3.888888888888889, 0.33333333333333337),
 'D_M_Thomas': (3.0, nan),
 'Dalai_Lama_XIV': (4.0, nan),
 'Dale_Carnegie': (4.0, nan),
 'Dalton_Trumbo': (4.0, nan),
 'Dan_Brown': (3.0, 0.0),
 'Dan_Simmons': (3.3333333333333335, 0.5),
 'Dan_Wells': (3.0, 0.0),
 'Danelle_O_Donnell': (4.0, nan),
 'Dani_Alexander': (4.0, nan),
 'Daniel_Clowes': (3.0, nan),
 'Daniel_Defoe': (3.0, 0.0),
 'Daniel_Glattauer': (3.0, nan),
 'Daniel_H_Wilson': (3.0, nan),
 'Daniel_Handler': (3.0, nan),
 'Daniel_Kahneman': (4.0, nan),
 'Daniel_Keyes': (3.0, nan),
 'Daniel_O_Malley': (4.0, nan),
 'Daniel_Pinkwater': (4.0, nan),
 'Daniel_Pyle': (3.0, nan),
 'Daniel_Quinn': (3.5, 0.7071067811865476),
 'Daniel_Suarez': (4.0, 0.0),
 'Danielle_DeVor': (4.0, nan),
 'Danielle_Paige': (3.0, nan),
 'Danielle_Steel': (3.0, nan),
 'Danielle_Trussoni': (3.0, nan),
 'Dante_Alighieri': (3.3333333333333335, 0.5773502691896258),
 'Daphne_du_Maurier': (3.2, 0.44721359549995787),
 'Darren_Shan': (4.0, 0.0),
 'Darrius_Garrett': (4.0, nan),
 'Darynda_Jones': (4.0, 0.0),
 'Dashiell_Hammett': (3.5, 0.7071067811865476),
 'Dave_Barry': (3.5, 0.7071067811865476),
 'Dave_Cullen': (4.0, nan),
 'Dave_Eggers': (3.5, 0.5773502691896257),
 'Dave_Pelzer': (4.0, 0.0),
 'Dave_Ramsey': (4.0, nan),
 'David_Allen': (3.0, nan),
 'David_Baldacci': (3.0, 0.0),
 'David_Benioff': (4.0, 0.0),
 'David_Brin': (3.3333333333333335, 0.5773502691896258),
 'David_Clement_Davies': (4.0, 0.0),
 'David_Eddings': (3.9166666666666665, 0.28867513459481287),
 'David_Fishelson': (4.0, nan),
 'David_Foster_Wallace': (3.8, 0.4472135954999579),
 'David_Gemmell': (4.0, 0.0),
 'David_Guterson': (3.0, nan),
 'David_James_Duncan': (4.0, 0.0),
 'David_Levithan': (3.3333333333333335, 0.5773502691896258),
 'David_Liss': (3.0, nan),
 'David_McCullough': (4.0, 0.0),
 'David_Mitchell': (3.75, 0.5),
 'David_Nicholls': (3.0, nan),
 'David_Sedaris': (3.75, 0.5),
 'David_Shannon': (4.0, nan),
 'David_Weber': (4.0, nan),
 'David_Wong': (3.0, nan),
 'David_Wroblewski': (3.0, nan),
 'Dayna_Lorentz': (3.0, nan),
 'Dean_Koontz': (3.1666666666666665, 0.3834824944236852),
 'Deb_Apodaca': (3.0, nan),
 'Deborah_Harkness': (3.5, 0.7071067811865476),
 'Debra_Anastasia': (3.0, nan),
 'Dee': (3.0, 0.0),
 'Dee_Brown': (4.0, nan),
 'Deepak_Chaswal': (4.0, nan),
 'Deepak_Chopra': (4.0, nan),
 'Demi_Lovato': (4.0, nan),
 'Denis_Johnson': (4.0, nan),
 'Dennis_Lehane': (3.6666666666666665, 0.5773502691896258),
 'Dennis_Sharpe': (4.0, 0.0),
 'Derek_Landy': (4.0, 0.0),
 'Diana_Gabaldon': (4.0, 0.0),
 'Diana_Wynne_Jones': (3.5, 0.5773502691896257),
 'Diane_Ackerman': (3.0, nan),
 'Diane_Chamberlain': (4.0, 0.0),
 'Diane_Duane': (3.0, nan),
 'Diane_Setterfield': (3.0, nan),
 'Dick_Francis': (4.0, nan),
 'Dietrich_Bonhoeffer': (4.0, nan),
 'Dimitri_Verhulst': (3.0, nan),
 'Dino_Buzzati': (4.0, nan),
 'Dmitry_Glukhovsky': (3.0, nan),
 'Dodie_Smith': (3.5, 0.7071067811865476),
 'Dominique_Lapierre': (4.0, nan),
 'Don_DeLillo': (3.0, 0.0),
 'Don_Piper': (3.0, nan),

<div class="exercise"><b>Exercise</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [42]:
#Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
#We can then iterate over these subsets
# your code here
grouped_by_year = df.groupby('year')

best_rated_books = grouped_by_year.apply(lambda x: x.loc[x['rating'].idxmax()])

best_rated_books[['name', 'author', 'rating']].head()

                          name     author  rating
year
-1500.0  The Epic of Gilgamesh  Anonymous       3
-800.0   The Iliad/The Odyssey      Homer       4
-560.0          Aesop's Fables      Aesop       4
-512.0          The Art of War    Sun_Tzu       3
-500.0       The Bhagavad Gita  Anonymous       4